hr{
    border-top: 2px solid #FF0000;
    // width: 10%;
    width: 5%;
}

img{
    // max-width: 29%;
    max-width: 10%;
    // min-height: 24%;
}

img:hover{
    cursor: pointer;
}

@media (min-width: 577px) {
    .sponsers-mob{
        display: none;
    }
}

@media (max-width: 576px) {
    .sponsers{
        display: none;
    }
}