.btn{
    border-radius: 0rem !important;
}

@media (min-width: 577px) {
    .footer-icon{
        display: none;
    }
}

@media (max-width: 576px) {
    h5{
        font-size: 1rem;
    }
    p{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .about-us{
        padding-top: 0px !important;
    }
}